<div class="wrapper">
    <div class="layer"></div>
    <div class="container">
        <a class="logo" href="#"><img src="../../assets/img/ya.jpg" alt="Logo" /></a>
        <form action="#" method="POST" id="login"><input class="field" autocomplete="off" name="email"
                placeholder="Username" type="text" /><input class="field" autocomplete="off" name="password"
                placeholder="Password" type="text" /><input class="field submit" name="submit" type="submit"
                value="login" /><a class="link" href="#">Forgot Password?</a></form>
    </div>
    <div class="invitation"><a class="link" href="#">get an invite</a></div>
</div>
