/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e2e2e2 !important;
}

.mt-20 {
    margin-top: 20px;
}
.ml-15 {
    margin-left: 15px;
}

.align-center {
    text-align: center;
}
